Django==2.2.5
django-admin-tools==0.8.1
django-cors-headers==3.1.0
django-photologue==3.10
django-sortedm2m==2.0.0
djangorestframework==3.10.3
ExifRead==2.1.2
Pillow==6.2.0
psycopg2==2.8.3
python-dotenv==0.10.3
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
pika==1.1.0
